.moviesList__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  padding: 0 24px;
}

.moviesList__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.moviesList__top > h1 {
  display: flex;
  align-items: center;
  font-size: 40px;
}

.moviesList__top > h1::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 44px;
  margin-right: 12px;
  background-color: #2560e9;
}

.moviesList__button {
  width: 200px;
  height: 48px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  border: 2px white solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  transition: 200ms ease;
}

.moviesList__link {
  width: 100%;
  text-decoration: none;
}

.moviesList__button2 {
  width: 100%;
  display: none;
}

.moviesList__button:hover {
  background-color: #fff;
  color: #000;
}

.moviesList__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.moviesList__genres{
  margin-top: 20px;
  margin-bottom: -20px;
  display: flex;
  flex-wrap: wrap;
}

.moviesList__genres2{
  display: none;
}

.moviesList__genres > p:hover{
  background-color: #3d3d3d;
}

.moviesList__genres > p:active
{
  background-color: #2560e9;
  color: white
}

.moviesList__genres > p:not(:last-child){
margin-right: 6px;
}



@media (max-width: 768px) {
  .moviesList__top {
    margin-bottom: 40px;
  }

  .moviesList__top > h1 {
    font-size: 32px;
  }

  .moviesList__button {
    display: none;
  }

  .moviesList__button2 {
    display: block;
  }

  .moviesList__genres1{
    display: none;
  }

  .moviesList__genres2{
    display: flex;
  }
}
